:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;
  --navbar-height: 75px; /* Example height */

  --primaryColor: hsl(199, 100%, 33%);
  --secondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 41%, 36%);
  --whiteColorDemi: hsl(240, 42%, 93%);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --greyBg: rgb(240, 240, 240); /* Added value for greyBg */
  --greyText: rgb(220, 210, 210);
  --box-shadow: 0 2px 8px rgba(66, 53, 53, 0.45);

}


body {
  /* background: linear-gradient(to bottom,  hsla(256, 100%, 2%, 0.822), hsla(277, 86%, 36%, 0.838), hsla(256, 100%, 2%, 0.822)); */
  /* background: linear-gradient(to bottom,  hsla(217, 100%, 4%, 0.822), hsla(217, 86%, 36%, 0.838), hsla(218, 100%, 2%, 0.822)); */
  background-color: white;
  color: black;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.writing{
  color: white;
}

.navbar {
  height: var(--navbar-height);
  font-weight: 500;
}
.name{
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.section{
  font-weight: 900;
  font-family: Cormorant Garamond;
}
.over{
  background: linear-gradient(to right, rgb(0, 0, 0, 0.846), rgb(0, 0, 0, 0.759));
}

.bag{
  background: rgb(21, 21, 21);
}

/*Page design*/
::selection{
  background: var(--blackColor);
  color: var(--whiteColor)
}

::-webkit-scrollbar{
  width: 10px;
  background: var(--greyBg);
}

::-webkit-scrollbar-thumb{
  background: black;
  border-radius: 10px;
  cursor: pointer;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

